* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg_primary {
    background-color: var(--primary);
}

.bg_secondary {
    background-color: var(--secondary);
}

.my_overflow {
    /* overflow: auto; */
    white-space: nowrap;
}

.my_primary {
    color: var(--primary);
}

.my_action_primary {
    background-color: transparent;
    border: 1px solid var(--dark-1);
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.8rem;
    min-width: 60px;
    padding: 4px;

    &:hover {
        background-color: var(--secondary-hover);
        border: 1px solid var(--primary);
        color: var(--light-1);
    }
}

.my_btn_primary {
    background-color: var(--primary);
    color: #fff;

    &:hover {
        color: #fff;
        background-color: var(--primary-hover);
    }
}

.my_btn_secondary {
    background-color: var(--secondary);
    color: #fff;

    &:hover {
        color: #fff;
        background-color: var(--secondary-hover);
    }
}

.my_square {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
    }

    >span {
        color: var(--primary);
        position: absolute;
        z-index: 200;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 30px;
        overflow: auto;
        white-space: nowrap;
    }
}

.my_square:hover {
    box-shadow: none !important;
}

#prova {
    height: 100vh;
}

.edit_image_right {
    position: relative;

    img {
        position: absolute;
        right: 5vw;
        top: 0vh;
        max-width: 600px;
    }
}

.edit_image_left {
    position: relative;

    img {
        position: absolute;
        left: -2vw;
        top: 13vh;
        width: 800px;
        transform: scaleX(-1);
    }
}

.image_right {
    position: relative;

    img {
        position: absolute;
        right: -8vw;
        top: 7vh;
        max-width: 800px;
    }
}

.image_left {
    position: relative;

    img {
        position: absolute;
        left: -9vw;
        top: 7vh;
        width: 600px;
        transform: scaleX(-1);
    }
}

.my_image_right_2 {
    position: relative;

    img {
        position: absolute;
        right: 65vw;
        top: -15vh;
        max-width: 600px;
    }
}

.my_image_left_2 {
    position: relative;

    img {
        position: absolute;
        left: 55vw;
        top: 55vh;
        max-width: 1000px;
        transform: scaleX(-1);
    }
}

.my_container {
    width: 60%;
    margin: 0 auto;
}

.my_background {
    background-image: url('/public/img/doctor-profile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
    /* background: rgba(227, 227, 227, 0.6); */
    background: rgba(227, 227, 227, 0.877);
    border-radius: 16px;
    // backdrop-filter: blur(6.5px);
    border: 1px solid rgba(162, 160, 164, 0.5);
}

.bg_dark_transparent {
    background: rgba(225, 225, 225, 0.9);
}

.stars_wrapper {
    text-align: center;
    background: rgba(147, 147, 147, 0.9);
    padding: 5px 0;
}

/* #region :::: SPECIALIZATIONS :::: */


.btn-check {

    &:checked {
        +.specialization_label {
            border-color: #009327;
            color: #009327;

            span::after {
                content: "\f00c";
                font-family: "Font Awesome\ 5 Free";
                font-weight: 900;
                color: #009327;
                margin-left: 6px;
            }
        }
    }
}

.specialization_label {
    font-size: 0.9rem;
    color: #2d2d2d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    height: 32px;
    border: 1px solid #2d2d2d;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        border-color: var(--primary);
        background-color: var(--secondary);
    }
}


/* #endregion :::: SPECIALIZATIONS :::: */


/* #region :::: LOGIN FORM :::: */

.login_form {
    position: relative;
    overflow: hidden;
    padding: 2rem 4rem;

    &::before {
        position: absolute;
        left: -45%;
        top: 4%;
        content: "";
        width: 450px;
        height: 500px;
        background-color: var(--secondary);
        transform: rotate(45deg);
        z-index: 1;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
    }

    .form_body {
        position: relative;
        z-index: 2;

        .form_title {
            color: #2d2d2d;
        }
    }
}

/* #endregion :::: LOGIN FORM :::: */

/* #region :::: REGISTRATION FORM :::: */

.registration_form {
    position: relative;
    overflow: hidden;
    padding: 2rem 4.5rem;

    &::before {
        position: absolute;
        left: -47%;
        top: -28%;
        content: "";
        width: 800px;
        height: 900px;
        background-color: var(--secondary);
        transform: rotate(45deg);
        z-index: 1;
        border-radius: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
    }

    .form_body {
        position: relative;
        z-index: 2;

        .form_title {
            color: #2d2d2d;
        }
    }
}

/* #endregion :::: REGISTRATION FORM :::: */

.pagination>li>a {
    background-color: #333;
    color: white;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: var(--primary-hover);
    background-color: #333;
    border: solid 1px var(--primary-hover) !important;
}

.pagination>.active>span {
    color: #333 !important;
    background-color: var(--primary-hover) !important;
    border: solid 1px var(--primary-hover) !important;
}

.pagination>.active>span:hover {
    background-color: #333 !important;
    border: solid 1px var(--primary-hover) !important;
    color: var(--primary-hover) !important;
}