/* #region :::: VALIDATION :::: */

.inputWrapper {
  position: relative;

  .success,
  .success:focus {
    border: 1px solid #009327;
    outline: 0;
    box-shadow: 0 0 5px 0.1rem #0093272c;
  }

  .success:focus {
    box-shadow: 0 0 0 0.25rem #0093272c;
  }

  .errorMessage {
    display: block;
    height: 20px;
  }

  .fa-circle-check {
    position: absolute;
    right: 10px;
    top: 32%;
    transform: translateY(-50%);
    color: #009327;
  }

  .fa-circle-exclamation {
    position: absolute;
    right: 10px;
    top: 32%;
    transform: translateY(-50%);
    color: #ff0000;
  }

  #address+.fa-circle-check {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #009327;
  }

  .fa-circle-check+.fa-circle-exclamation {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff0000;
  }

  .error,
  .error:focus {
    border-color: #ff0000;
    background-color: #fff0f0;
    outline: 0;
    box-shadow: 0 0 5px 0.1rem #ff000032;
  }

  .error:focus {
    box-shadow: 0 0 0 0.25rem #ff000032;
  }

  .passwordCheck,
  .passwordError {
    position: absolute;
    right: 11%;
    top: 33.5%;
    transform: translateY(-50%);
  }

  .showPassword,
  .showConfirmedPassword {
    position: absolute;
    right: 10px;
    top: 33.5%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #adadad;
  }
}

.passwordRulesDanger {
  border: 1px solid #ff0000;
  box-shadow: 0 0 5px 0.1rem #ff000032;
  background-color: #fff0f0;
  color: #ff0000;
}

.passwordRulesSuccess {
  border: 1px solid #009327;
  box-shadow: 0 0 5px 0.1rem #0093272c;
  background-color: #f2fff0;
  color: #009327;
}

.specError {
  padding: 12px;
  border: 1px solid #ff0000;
  box-shadow: 0 0 5px 0.1rem #ff000032;
  background-color: #fff0f0;
  color: #ff0000;
}

/* #endregion :::: VALIDATION :::: */