:root {
  --primary: #186143;
  --primary-hover: #307558;
  --primary-active: #1E4837;
  --secondary: #a0cabf;
  --secondary-hover: #85a79e;
  --secondary-active: #78a89c;
  --light-1: #fff;
  --light-2: #f5eefa;
  --light-3: #f8f9fa;
  --dark-1: #79747e;
  --dark-2: #322f37;
  --dark-3: #1d1a22;
  --dark-4: #000;
}